{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="left-image">
    <img src="/static/img/tbc" alt="Image d'une voiture pleine">
</div>
<div class="container">
    <h1>Bienvenue à l'appli Eco Ride</h1>
    <p>EcoRide fraichement crée en France, a pour objectif de réduire l'impact environnemental des déplacements en encourageant le covoiturage avec une approche écologique.
        EcoRide est une plateforme de covoiturage pour les voyageurs soucieux de l'environnement et ceux qui cherchent une solution économique pour leurs déplacements. Malheureusement la plateforme gere uniquement les déplacements en voitures pour l'instant.</p>
    <button class="btn">Mon co-voiturage</button>
</div>
<div class="right-image">
    <img src="/static/img/tbc" alt="Image de partage de trajet">
</div>
{% endblock %}