<!DOCTYPE html>
<html lang="fr">
<head>
    <!--Sets adaptive screen and characters-->
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&family=Rubik:wght@300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='/mystyle.css') }}">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Eco Ride {% block title %}{% endblock %}</title>
</head>
<body>
    <header class="container">
        <div class="headerContent">
            <img src="/static/icons/EcoRide_logo.png" height="120"alt="EcoRide logo">
            <nav class="navbar">
                <ul>
                    <li><a href="{{ url_for('home.home') }}">accueil</a></li>
                    <li><a href="{{ url_for('search.search') }}">co-voiturage</a></li>
                    <li><a href="{{ url_for('home.profile_redirect') }}">profile</a></li>
                    <li><a href="{{ url_for('log.history') }}">historique</a></li>
                    <li><a href="{{ url_for('log.review') }}">commentaires</a></li>
                </ul>
            </nav>
        </div>
        <div class="searchBar">
            <input class="textFill" type="text" placeholder="Point de Départ">
            <input class="textFill" type="text" placeholder="Destination">
            <button class="buttonDark" type="submit">go</button>
        </div>
    </header>

    <main>

        {% block main %}{% endblock %}

    </main>

    <footer>
        <div class="footerContent">
            <ul class="footerList">
                <li><a href="mailto:info@ecoride.com">info@ecoride.com</a></li>
                <li><button class="buttonLight" href="/templates/terms.html">mentions légales</button></li>
                <li><a href="mailto:help@ecoride.com">help@ecoride.com</a></li>
            </ul>
            <p class="footerText">© 2023 Eco Ride. Tous droits réservés.</p>
        </div>
    </footer>
</body>

</html>