
{% extends "base.html" %}

{% block title %}
    Créer un compte
{% endblock %}

{% block main %}
    <form class="vertical-form"action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Pseudonyme" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Mot de Passe" type="password">
        </div>
        <button class="buttonLight" type="submit">Connexion</button>
    </form>
{% endblock %}
